<h1>Login</h1>
<form action="/users/login" method="POST">
<div>
    <label for="username">Name</label>
    <input
      type="username"
      name="username"
      placeholder="Enter Username"
    />
  
</div>
  <div >
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Create Password"
    />
  </div>
  <button type="submit" class="btn btn-primary btn-block">
    Login
  </button>
</form>
<p >Dont have An Account? <a href="/register">Register</a></p>